--
-- PostgreSQL database dump
--

\restrict I5TPNciFJ4PhU483FBc9C31LTI1eCe7PpfNwXoOusxO6M4tzOcst8YIVLwyRil7

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: admin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO admin;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA public IS '';


--
-- Name: DisputePriority; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."DisputePriority" AS ENUM (
    'LOW',
    'MEDIUM',
    'HIGH',
    'CRITICAL'
);


ALTER TYPE public."DisputePriority" OWNER TO admin;

--
-- Name: DisputeStatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."DisputeStatus" AS ENUM (
    'OPEN',
    'IN_REVIEW',
    'RESOLVED',
    'CLOSED',
    'ESCALATED'
);


ALTER TYPE public."DisputeStatus" OWNER TO admin;

--
-- Name: NotificationType; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."NotificationType" AS ENUM (
    'PROPERTY_APPROVED',
    'PROPERTY_REJECTED',
    'PROPERTY_SUSPENDED',
    'PROPERTY_VERIFICATION_REQUIRED',
    'TRANSACTION_ESCROW_RELEASED',
    'TRANSACTION_PAYMENT_CONFIRMED',
    'TRANSACTION_COMPLETED',
    'DISPUTE_RESOLVED',
    'DISPUTE_ESCALATED',
    'MESSAGE_RECEIVED',
    'ACCOUNT_SUSPENDED',
    'SYSTEM_ANNOUNCEMENT'
);


ALTER TYPE public."NotificationType" OWNER TO admin;

--
-- Name: PropertyEventType; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."PropertyEventType" AS ENUM (
    'CREATED',
    'LISTED',
    'DELISTED',
    'SOLD',
    'TRANSFERRED',
    'VERIFIED',
    'SUSPENDED',
    'SUBMITTED'
);


ALTER TYPE public."PropertyEventType" OWNER TO admin;

--
-- Name: PropertyStatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."PropertyStatus" AS ENUM (
    'DRAFT',
    'PENDING_VERIFICATION',
    'VERIFIED',
    'LISTED',
    'UNDER_OFFER',
    'SOLD',
    'DELISTED',
    'SUSPENDED',
    'REJECTED'
);


ALTER TYPE public."PropertyStatus" OWNER TO admin;

--
-- Name: PropertyType; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."PropertyType" AS ENUM (
    'OFFICE',
    'APPARTMENT',
    'LAND'
);


ALTER TYPE public."PropertyType" OWNER TO admin;

--
-- Name: TransactionStatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."TransactionStatus" AS ENUM (
    'PENDING',
    'ESCROW',
    'PAYMENT_CONFIRMED',
    'COMPLETED',
    'CANCELLED',
    'DISPUTED'
);


ALTER TYPE public."TransactionStatus" OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Dispute; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Dispute" (
    id integer NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    status public."DisputeStatus" DEFAULT 'OPEN'::public."DisputeStatus" NOT NULL,
    resolution text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "resolvedAt" timestamp(3) without time zone,
    "complainantId" integer NOT NULL,
    "disputeId" text NOT NULL,
    priority public."DisputePriority" DEFAULT 'MEDIUM'::public."DisputePriority" NOT NULL,
    "propertyId" integer,
    "resolvedById" integer,
    "respondentId" integer NOT NULL,
    "transactionId" integer
);


ALTER TABLE public."Dispute" OWNER TO admin;

--
-- Name: Dispute_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Dispute_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Dispute_id_seq" OWNER TO admin;

--
-- Name: Dispute_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Dispute_id_seq" OWNED BY public."Dispute".id;


--
-- Name: Message; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Message" (
    id integer NOT NULL,
    content text NOT NULL,
    "senderId" integer NOT NULL,
    "receiverId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isRead" boolean DEFAULT false NOT NULL,
    "isReported" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Message" OWNER TO admin;

--
-- Name: Message_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Message_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Message_id_seq" OWNER TO admin;

--
-- Name: Message_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Message_id_seq" OWNED BY public."Message".id;


--
-- Name: Notification; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Notification" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    type public."NotificationType" NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    "relatedPropertyId" integer,
    "relatedTransactionId" integer,
    "relatedDisputeId" integer,
    metadata jsonb,
    "isRead" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "readAt" timestamp(3) without time zone
);


ALTER TABLE public."Notification" OWNER TO admin;

--
-- Name: Notification_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Notification_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Notification_id_seq" OWNER TO admin;

--
-- Name: Notification_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Notification_id_seq" OWNED BY public."Notification".id;


--
-- Name: Property; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Property" (
    id integer NOT NULL,
    title text NOT NULL,
    description text NOT NULL,
    price double precision NOT NULL,
    type public."PropertyType" NOT NULL,
    location text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    amenities text[],
    coordinates jsonb,
    "currentOwnerId" integer NOT NULL,
    images text[],
    "isVerified" boolean DEFAULT false NOT NULL,
    "listedAt" timestamp(3) without time zone,
    "listedById" integer,
    "propertyId" text NOT NULL,
    "soldAt" timestamp(3) without time zone,
    specifications jsonb,
    status public."PropertyStatus" DEFAULT 'DRAFT'::public."PropertyStatus" NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "verifiedAt" timestamp(3) without time zone,
    "verifiedById" integer,
    area double precision,
    bathrooms integer,
    bedrooms integer,
    "likesCount" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."Property" OWNER TO admin;

--
-- Name: PropertyHistory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."PropertyHistory" (
    id integer NOT NULL,
    "propertyId" integer NOT NULL,
    "fromOwnerId" integer,
    "toOwnerId" integer NOT NULL,
    "transactionId" integer,
    price double precision,
    "eventType" public."PropertyEventType" NOT NULL,
    "eventDate" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notes text
);


ALTER TABLE public."PropertyHistory" OWNER TO admin;

--
-- Name: PropertyHistory_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."PropertyHistory_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."PropertyHistory_id_seq" OWNER TO admin;

--
-- Name: PropertyHistory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."PropertyHistory_id_seq" OWNED BY public."PropertyHistory".id;


--
-- Name: Property_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Property_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Property_id_seq" OWNER TO admin;

--
-- Name: Property_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Property_id_seq" OWNED BY public."Property".id;


--
-- Name: Role; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Role" (
    id integer NOT NULL,
    name text NOT NULL,
    description text,
    permissions text[],
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Role" OWNER TO admin;

--
-- Name: Role_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Role_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Role_id_seq" OWNER TO admin;

--
-- Name: Role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Role_id_seq" OWNED BY public."Role".id;


--
-- Name: Transaction; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Transaction" (
    id integer NOT NULL,
    amount double precision NOT NULL,
    status public."TransactionStatus" DEFAULT 'PENDING'::public."TransactionStatus" NOT NULL,
    "propertyId" integer NOT NULL,
    "buyerId" integer NOT NULL,
    "sellerId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "completedAt" timestamp(3) without time zone,
    "escrowAmount" double precision,
    "escrowReleased" boolean DEFAULT false NOT NULL,
    "escrowReleasedAt" timestamp(3) without time zone,
    "escrowReleasedById" integer,
    "paymentMethod" text,
    "paymentReference" text,
    "transactionId" text NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Transaction" OWNER TO admin;

--
-- Name: Transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."Transaction_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."Transaction_id_seq" OWNER TO admin;

--
-- Name: Transaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."Transaction_id_seq" OWNED BY public."Transaction".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    email text NOT NULL,
    password text,
    name text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    provider text,
    avatar text,
    "createdByAdminId" integer,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    phone text,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "paystackRecipientCode" text,
    "paystackSubaccountId" text
);


ALTER TABLE public."User" OWNER TO admin;

--
-- Name: UserRole; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."UserRole" (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "roleId" integer NOT NULL,
    "assignedBy" integer
);


ALTER TABLE public."UserRole" OWNER TO admin;

--
-- Name: UserRole_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."UserRole_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."UserRole_id_seq" OWNER TO admin;

--
-- Name: UserRole_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."UserRole_id_seq" OWNED BY public."UserRole".id;


--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public."User_id_seq" OWNER TO admin;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO admin;

--
-- Name: property_likes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.property_likes (
    id integer NOT NULL,
    "userId" integer NOT NULL,
    "propertyId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.property_likes OWNER TO admin;

--
-- Name: property_likes_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.property_likes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.property_likes_id_seq OWNER TO admin;

--
-- Name: property_likes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.property_likes_id_seq OWNED BY public.property_likes.id;


--
-- Name: Dispute id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Dispute" ALTER COLUMN id SET DEFAULT nextval('public."Dispute_id_seq"'::regclass);


--
-- Name: Message id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Message" ALTER COLUMN id SET DEFAULT nextval('public."Message_id_seq"'::regclass);


--
-- Name: Notification id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notification" ALTER COLUMN id SET DEFAULT nextval('public."Notification_id_seq"'::regclass);


--
-- Name: Property id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Property" ALTER COLUMN id SET DEFAULT nextval('public."Property_id_seq"'::regclass);


--
-- Name: PropertyHistory id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."PropertyHistory" ALTER COLUMN id SET DEFAULT nextval('public."PropertyHistory_id_seq"'::regclass);


--
-- Name: Role id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Role" ALTER COLUMN id SET DEFAULT nextval('public."Role_id_seq"'::regclass);


--
-- Name: Transaction id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Transaction" ALTER COLUMN id SET DEFAULT nextval('public."Transaction_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Name: UserRole id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserRole" ALTER COLUMN id SET DEFAULT nextval('public."UserRole_id_seq"'::regclass);


--
-- Name: property_likes id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.property_likes ALTER COLUMN id SET DEFAULT nextval('public.property_likes_id_seq'::regclass);


--
-- Name: Dispute Dispute_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Dispute"
    ADD CONSTRAINT "Dispute_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: Notification Notification_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_pkey" PRIMARY KEY (id);


--
-- Name: PropertyHistory PropertyHistory_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."PropertyHistory"
    ADD CONSTRAINT "PropertyHistory_pkey" PRIMARY KEY (id);


--
-- Name: Property Property_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Property"
    ADD CONSTRAINT "Property_pkey" PRIMARY KEY (id);


--
-- Name: Role Role_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Role"
    ADD CONSTRAINT "Role_pkey" PRIMARY KEY (id);


--
-- Name: Transaction Transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_pkey" PRIMARY KEY (id);


--
-- Name: UserRole UserRole_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: property_likes property_likes_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.property_likes
    ADD CONSTRAINT property_likes_pkey PRIMARY KEY (id);


--
-- Name: Dispute_disputeId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Dispute_disputeId_idx" ON public."Dispute" USING btree ("disputeId");


--
-- Name: Dispute_disputeId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Dispute_disputeId_key" ON public."Dispute" USING btree ("disputeId");


--
-- Name: Dispute_status_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Dispute_status_idx" ON public."Dispute" USING btree (status);


--
-- Name: Message_receiverId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Message_receiverId_idx" ON public."Message" USING btree ("receiverId");


--
-- Name: Message_senderId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Message_senderId_idx" ON public."Message" USING btree ("senderId");


--
-- Name: Notification_createdAt_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Notification_createdAt_idx" ON public."Notification" USING btree ("createdAt");


--
-- Name: Notification_isRead_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Notification_isRead_idx" ON public."Notification" USING btree ("isRead");


--
-- Name: Notification_type_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Notification_type_idx" ON public."Notification" USING btree (type);


--
-- Name: Notification_userId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Notification_userId_idx" ON public."Notification" USING btree ("userId");


--
-- Name: PropertyHistory_propertyId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "PropertyHistory_propertyId_idx" ON public."PropertyHistory" USING btree ("propertyId");


--
-- Name: PropertyHistory_transactionId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "PropertyHistory_transactionId_key" ON public."PropertyHistory" USING btree ("transactionId");


--
-- Name: Property_currentOwnerId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Property_currentOwnerId_idx" ON public."Property" USING btree ("currentOwnerId");


--
-- Name: Property_propertyId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Property_propertyId_idx" ON public."Property" USING btree ("propertyId");


--
-- Name: Property_propertyId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Property_propertyId_key" ON public."Property" USING btree ("propertyId");


--
-- Name: Property_status_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Property_status_idx" ON public."Property" USING btree (status);


--
-- Name: Role_name_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Role_name_key" ON public."Role" USING btree (name);


--
-- Name: Transaction_buyerId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Transaction_buyerId_idx" ON public."Transaction" USING btree ("buyerId");


--
-- Name: Transaction_sellerId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Transaction_sellerId_idx" ON public."Transaction" USING btree ("sellerId");


--
-- Name: Transaction_status_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Transaction_status_idx" ON public."Transaction" USING btree (status);


--
-- Name: Transaction_transactionId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "Transaction_transactionId_idx" ON public."Transaction" USING btree ("transactionId");


--
-- Name: Transaction_transactionId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "Transaction_transactionId_key" ON public."Transaction" USING btree ("transactionId");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: property_likes_propertyId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "property_likes_propertyId_idx" ON public.property_likes USING btree ("propertyId");


--
-- Name: property_likes_userId_idx; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "property_likes_userId_idx" ON public.property_likes USING btree ("userId");


--
-- Name: property_likes_userId_propertyId_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "property_likes_userId_propertyId_key" ON public.property_likes USING btree ("userId", "propertyId");


--
-- Name: Dispute Dispute_complainantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Dispute"
    ADD CONSTRAINT "Dispute_complainantId_fkey" FOREIGN KEY ("complainantId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Dispute Dispute_propertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Dispute"
    ADD CONSTRAINT "Dispute_propertyId_fkey" FOREIGN KEY ("propertyId") REFERENCES public."Property"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Dispute Dispute_resolvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Dispute"
    ADD CONSTRAINT "Dispute_resolvedById_fkey" FOREIGN KEY ("resolvedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Dispute Dispute_respondentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Dispute"
    ADD CONSTRAINT "Dispute_respondentId_fkey" FOREIGN KEY ("respondentId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Dispute Dispute_transactionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Dispute"
    ADD CONSTRAINT "Dispute_transactionId_fkey" FOREIGN KEY ("transactionId") REFERENCES public."Transaction"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Message Message_receiverId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_receiverId_fkey" FOREIGN KEY ("receiverId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Message Message_senderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_senderId_fkey" FOREIGN KEY ("senderId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Notification Notification_relatedDisputeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_relatedDisputeId_fkey" FOREIGN KEY ("relatedDisputeId") REFERENCES public."Dispute"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Notification Notification_relatedPropertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_relatedPropertyId_fkey" FOREIGN KEY ("relatedPropertyId") REFERENCES public."Property"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Notification Notification_relatedTransactionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_relatedTransactionId_fkey" FOREIGN KEY ("relatedTransactionId") REFERENCES public."Transaction"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Notification Notification_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notification"
    ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: PropertyHistory PropertyHistory_fromOwnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."PropertyHistory"
    ADD CONSTRAINT "PropertyHistory_fromOwnerId_fkey" FOREIGN KEY ("fromOwnerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PropertyHistory PropertyHistory_propertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."PropertyHistory"
    ADD CONSTRAINT "PropertyHistory_propertyId_fkey" FOREIGN KEY ("propertyId") REFERENCES public."Property"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PropertyHistory PropertyHistory_toOwnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."PropertyHistory"
    ADD CONSTRAINT "PropertyHistory_toOwnerId_fkey" FOREIGN KEY ("toOwnerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: PropertyHistory PropertyHistory_transactionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."PropertyHistory"
    ADD CONSTRAINT "PropertyHistory_transactionId_fkey" FOREIGN KEY ("transactionId") REFERENCES public."Transaction"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Property Property_currentOwnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Property"
    ADD CONSTRAINT "Property_currentOwnerId_fkey" FOREIGN KEY ("currentOwnerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Property Property_listedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Property"
    ADD CONSTRAINT "Property_listedById_fkey" FOREIGN KEY ("listedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Property Property_verifiedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Property"
    ADD CONSTRAINT "Property_verifiedById_fkey" FOREIGN KEY ("verifiedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Transaction Transaction_buyerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_buyerId_fkey" FOREIGN KEY ("buyerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Transaction Transaction_escrowReleasedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_escrowReleasedById_fkey" FOREIGN KEY ("escrowReleasedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Transaction Transaction_propertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_propertyId_fkey" FOREIGN KEY ("propertyId") REFERENCES public."Property"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Transaction Transaction_sellerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Transaction"
    ADD CONSTRAINT "Transaction_sellerId_fkey" FOREIGN KEY ("sellerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UserRole UserRole_assignedBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_assignedBy_fkey" FOREIGN KEY ("assignedBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: UserRole UserRole_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public."Role"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: UserRole UserRole_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."UserRole"
    ADD CONSTRAINT "UserRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_createdByAdminId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_createdByAdminId_fkey" FOREIGN KEY ("createdByAdminId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: property_likes property_likes_propertyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.property_likes
    ADD CONSTRAINT "property_likes_propertyId_fkey" FOREIGN KEY ("propertyId") REFERENCES public."Property"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: property_likes property_likes_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.property_likes
    ADD CONSTRAINT "property_likes_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: admin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict I5TPNciFJ4PhU483FBc9C31LTI1eCe7PpfNwXoOusxO6M4tzOcst8YIVLwyRil7

